.article-bar {
  position: relative;
  margin-bottom: 52px;
  &:before {
    content: "";
    height: 0;
    left: auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 100%;
  }
  &--bar1 {

    &:before{
      border-top: 3px solid $barGreenColor;
    }
  }
  &--bar2 {
    &:before {
      border-top: 3px solid $orangeColor;
    }
  }
  &--bar3 {
    &:before {
      border-top: 3px solid $darkOrangeColor;
    }
  }
  &--bar4 {
    &:before {
      border-top: 3px solid $brownColor;
    }
  }
  &--bar5 {
    &:before {
      border-top: 3px solid $solidOrangeColor;
    }
  }
  &--bar6 {
    &:before {
      border-top: 3px solid $blueColor;
    }
  }

  &__wrap {
    width: 79.39%;
    position: relative;
    display: inline-block;
    border-left: 15px solid #fff;
    border-right: 15px solid #fff;
  }


  &__text {
    width: 100%;
    display: inline-block;
    padding: 10px 0 16px;
    font-size: 17px;
    color: $articleBarTextColor;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
    border-radius: 50px;
    line-height: 1;
    @media screen and (min-width: 576px){
      font-size: 26px;
    }
    @media screen and (min-width: 992px){
      font-size: $articleBarTextSize;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -13px;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 14px 14px 0 14px;

    }
    &--text1 {
      background-color: $barGreenColor;
      &:after {
        border-color: $barGreenColor transparent transparent transparent;
      }
    }
    &--text2 {
      background-color: $orangeColor;
      &:after {
        border-color: $orangeColor transparent transparent transparent;
      }
    }
    &--text3 {
      background-color: $darkOrangeColor;
      &:after {
        border-color: $darkOrangeColor transparent transparent transparent;
      }
    }
    &--text4 {
      background-color: $brownColor;
      &:after {
        border-color: $brownColor transparent transparent transparent;
      }
    }
    &--text5 {
      background-color: $solidOrangeColor;
      &:after {
        border-color: $solidOrangeColor transparent transparent transparent;
      }
    }
    &--text6 {
      background-color: $blueColor;
      &:after {
        border-color: $blueColor transparent transparent transparent;
      }
    }
  }


}

