.heading {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  &--level-1{

    font-size: $heading-level-1;
  }
  &--level-2 {
    font-size: $heading-level-2;
  }
  &--level-3 {
    font-size: $heading-level-3;
  }
  &--dark {
    color: $sliderHeaderColor;
  }
  &--light-dark {
    color: $baseBlack;
  }
  &--span {
    font-size: $heading-level-3-span;
    color: $barGreenColor;
    line-height: 1;
  }

}


