
  .heading--level-1{
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: $heading-level-1;
  }
  .heading--level-2 {
    font-size: $heading-level-2;
  }
  .heading--level-3 {
    margin-bottom: 20px;
  }

