.slider {
  position: relative;
  padding-top: 60px;
  padding-bottom: 452px;
  background: url("../images/header-bg.jpg") no-repeat center center;
  background-size: cover;

&__heading {
  color: $sliderHeaderColor;
  @media screen and (max-width: 991px) {
    margin-bottom: 20px;
  }
}
  &__main-content {
    position: relative;
  }
  &__slogan {
    position: relative;
    margin-top: 30px;
    padding-top: 76px;
    padding-bottom: 76px;
    border-bottom: 3px solid #71b43f;
  }

&__image-women {
  display: none;
  position: absolute;
  bottom: -452px;
  left: -103px;
  @media screen and (min-width: 992px){
    display: block;
  }
}
  &__image-tablet {
    display: none;
    position: absolute;
    bottom: -452px;
    right: -184px;
    @media screen and (min-width: 992px){
      display: block;
    }
    @media screen and (max-width:1364px ){
      right: -150px;
    }
  }
  &__control-left {
    @extend %control;
    left: 0;
  }
  &__control-right {
  @extend %control;
    right: 0;

  }
  &__control-ico-left {
    display: block;
    width: 71px;
    height: 110px;
    background: url("../images/left-arrow.png") no-repeat;
  }
  &__control-ico-right {
    display: block;
    width: 69px;
    height: 103px;
    background: url("../images/right-arrow.png") no-repeat;
  }
}
