$mainBgColor:#ffffff;
$baseGrey:#818181;
$baseBlack: #292929;
$sliderHeaderColor: #222222;
$baseHoverColor:#73c145;
$textGreenColor: #71b43f;
$barGreenColor: #70b33f;
$orangeColor: #fdc11f;
$darkOrangeColor: #fd971f;
$solidOrangeColor: #ff3210;
$blueColor: #1e6ad1;