$mainBgColor:#ffffff;
$articleBarTextColor: #ffffff;
$baseGrey:#818181;
$baseBlack: #292929;
$sliderHeaderColor: #222222;
$baseHoverColor:#73c145;
$textGreenColor: #65bc25;
$barGreenColor: #70b33f;
$orangeColor: #fdc11f;
$darkOrangeColor: #fd971f;
$brownColor: #fd631f;
$solidOrangeColor: #ff3210;
$blueColor: #1e6ad1;
$colorTestimonialText:#26410b;