
%baseRegularFont {
    font-family: $baseFontBree;
    font-weight: 400;
    
}
%control {
    position: absolute;
    display: block;
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}
%control-hover {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name:pulse;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    from {
        transform: scale3d(1, 1, 1);
    }

    50% {
        transform: scale3d(1.05, 1.05, 1.05);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}
@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}
@keyframes shake {
    from, to {
        transform: translate3d(0, 0, 0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%, 40%, 60%, 80% {
        transform: translate3d(10px, 0, 0);
    }
}