$baseFontBree: 'Bree Serif', Helvetica, Arial, serif;
$baseFontRoboto: 'Roboto', sans-serif;
$baseFontReklame: 'ReklameScriptRegular';
$heading-level-1: 116px;
$heading-level-2: 42.83px;
$heading-level-3: 77.59px;
$heading-level-3-span: 98.26px;
$articleBarTextSize: 40px;


